/* Learning Curve */
@font-face {
    font-family: 'Learning Curve', sans-serif;
    src: url('../curve/LearningCurve-Bold.eot');
    src: url('../curve/LearningCurve-Bold.eot?#iefix') format('embedded-opentype'),
        url('../curve/LearningCurve-Bold.woff2') format('woff2'),
        url('../curve/LearningCurve-Bold.woff') format('woff'),
        url('../curve/LearningCurve-Bold.ttf') format('truetype'),
        url('../curve/LearningCurve-Bold.svg#LearningCurve-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



/*Brandon Grotesque*/
@font-face {
    font-family: 'Brandon Grotesque bold', sans-serif;
    src: url('../fonts/brandon/BrandonGrotesque-Bold.eot');
    src: url('../fonts/brandon/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/brandon/BrandonGrotesque-Bold.woff2') format('woff2'),
        url('../fonts/brandon/BrandonGrotesque-Bold.woff') format('woff'),
        url('../fonts/brandon/BrandonGrotesque-Bold.ttf') format('truetype'),
        url('../fonts/brandon/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque regular', sans-serif;
    src: url('BrandonGrotesque-Regular.eot');
    src: url('BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('BrandonGrotesque-Regular.woff2') format('woff2'),
        url('BrandonGrotesque-Regular.woff') format('woff'),
        url('BrandonGrotesque-Regular.ttf') format('truetype'),
        url('BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Kazimir */
@font-face {
    font-family: 'Kazimir-RegularItalic', sans-serif;
    src: url('../kazimir-font-family/Kazimir-RegularItalic.eot');
    src: url('../kazimir-font-family/Kazimir-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../kazimir-font-family/Kazimir-RegularItalic.woff2') format('woff2'),
        url('../kazimir-font-family/Kazimir-RegularItalic.woff') format('woff'),
        url('../kazimir-font-family/Kazimir-RegularItalic.ttf') format('truetype'),
        url('../kazimir-font-family/Kazimir-RegularItalic.svg#Kazimir-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}




